$background: #FAFBFF;
$version: #838383;
$gray: #B5B7C0;
$linkGray: #9197B3;
$rankGray:#757575;
$darkGray: #7E7E7E;
$violet: #5932EA;
$lightGreen: #A6E7D8;
$darkGreen: #008767;
$borderGreen: #00B087;
$lightRed: #FFC5C5;
$darkRed: #DF0404;
$tableBlack: #292D32;
$numberGray: #F5F5F5;
$numberText: #404B52;

$linkPadding: 333px - 269px - 25px;
